body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a; 
  }
  
  .container {
    background-color: #333; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin: 0 auto;
    max-width: 400px; 
  }
  
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #fff; 
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  